@use '../styles/variables' as *;

.erreur404 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1;
    min-height: calc(100vh - 13rem);
    padding: 4rem 0;

    transform: translateY(-100px); // ✅ remonte tout de 100px

    h1 {
        font-size: 12rem;
        font-weight: 700;
        color: #ff6060;
    }

    p {
        font-size: 2.25rem;
        margin: 2rem 0;
        color: #ff6060; // ✅ même couleur que le "404"
    }

    a {
        font-size: 1.25rem;
        color: $color-black;
        text-decoration: underline;

        &:hover {
            opacity: 0.7;
        }
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 6rem;
        }

        p {
            font-size: 1.5rem;
        }

        a {
            font-size: 1rem;
        }
    }
}