// src/styles/Footer.scss
@import './variables';

.footer {
    height: 209px;
    background-color: $color-black;
    color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0; // ✅ On retire tout padding global

    &__logo {
        width: 122px;
        height: 39.44px;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 14px;
        text-align: center;
    }
}

// Responsive mobile (375px)
@media (max-width: 768px) {
    .footer {
        height: 209px;
        padding: 0; // ✅ Pas de padding ici non plus

        &__logo {
            margin-top: -26px; // ✅ Distance avec le bord haut en mobile
        }
    }
}