.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;

    &__logo {
        height: 68px;
    }

    &__nav {
        display: flex;
        gap: 30px;

        a {
            text-decoration: none;
            color: black;
            font-weight: 500;

            &.active {
                text-decoration: underline;
            }
        }
    }
}