// Import des variables en premier
@import './variables';

// Import du reset + styles globaux
@import './global';

/* src/styles/Main.scss */



main {
    flex: 1;
    max-width: $max-width;
    padding: 20px $container-padding;
    margin: 0 ;
    width: 100%;
    display: flex;
    flex-direction: column;
}