// Import des variables en premier
@use '../styles/variables' as *;

// Import du reset + styles globaux
@use './global' as *;

/* src/styles/Main.scss */



main {
    flex: 1;
    max-width: $max-width;
    padding: 20px $container-padding;
    margin: 0 ;
    width: 100%;
    display: flex;
    flex-direction: column;
}