// ---- Breakpoints ----
$breakpoint-mobile: 768px;
$font-main: 'Montserrat', sans-serif;

// ---- Couleurs ----
$color-primary: #FF6060;
$color-black: #000;
$color-white: #fff;

// ---- Fonts ----
$font-main: 'Montserrat', sans-serif;
$font-size-nav: 24px;
$font-weight-medium: 500;

// ---- Header ----
$header-width: 1240px;
$header-height: 68px;
$header-margin-top: 45px;
$header-logo-width: 210px;
$header-logo-height: 68px;

$gap-between-links: 57px;
$space-between-logo-nav: 720px;

// ---- Layout ----
$max-width: 1240px;
$container-padding: 100px;
$container-padding-mobile: 20px;


// Footer
$footer-height: 209px;
$footer-logo-width: 122px;
$footer-logo-height: 39.44px;
$footer-text-size: 12px;

// ---- Gallery ----
$gallery-bg: rgba(246, 246, 246, 1);
$gallery-padding: 3.125rem; // 50px
$gallery-radius: 1.5625rem; // 25px
$gallery-gap-y: 3.125rem; // 50px
$gallery-gap-x: 3.75rem; // 60px
$gallery-card-width: 21.25rem; // 340px

$max-width: 90rem; // 1440px (base de tout ton site)
// src/styles/_variables.scss

$container-padding: 6.25rem; // 100px
$font-family: 'Montserrat', sans-serif;